/************* all ******************/
body, main, figure, #scrolly {
  background-color: #24272E;
  padding: none;
  margin: none;
}
/************************************/

/************ intro *****************/
#intro {
  height: 50vh;
}
/************************************/

/********** Redlining Map ***********/
figure svg {
  background: #24272E;
  width: 100%;
  height: 100%;
}

.borough {
  stroke-width:1;
  stroke:#A1A7A8;
  opacity: 0.3;
  fill:none;
  z-index:2;
}

path.holc {
  stroke-width: 0;
}

path.holc-A {
  stroke: #8C9F5B;
  fill:   #8C9F5B;
}

path.holc-B {
  stroke: #8AA1AB;
  fill:   #8AA1AB;
}

path.holc-C {
  stroke: #D6B64C;
  fill:   #D6B64C;
}

path.holc-D {
  stroke: #CC6D7B;
  fill:   #CC6D7B;
}

path.holc-E {
  stroke: none;
  fill: none;
}

path.hide {
  opacity: 0;
}

path.fade {
  opacity: 0.1;
}

path.show {
  opacity: 1;
}

path.light {
  opacity: 0.5;
}

path.light:hover {
  opacity:1;
}

path.hover-path {
  opacity: 1;
}


path {
  transition: opacity 0.2s ease-in-out;
}

.redline {
  height: 40vh;
}
/************************************/

/******** Comp spark lines **********/
svg.sparkSVG, svg.exploreSparkSVG {
  background: #24272E;
  /* background: white; */
  width: 100%;
  margin: 1rem auto;
}

.sparkLine, .exploreSparkLine {
  fill: none;
  stroke-width: 4;
  /* stroke: #000; */
}

/* grid */
.grid-line, .explore-grid-line {
  stroke: #3E4450;
}
/************************************/

/********** COLUMN LAYOUT ***********/
/* https://www.w3schools.com/howto/howto_css_three_columns.asp */
.col {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.col h2 {
  text-align: right;
  padding: 0 1rem;
  margin: 1rem auto;
  font-size: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}
/************************************/

/* Scrollytelling */
#scrolly {
  position: relative;
}

.step-display-none {
  display: none;
}

.scrolly-block {
  display: block;
}

.scrolly-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
}

.scrolly-flex > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.scrolly-flex > article {
  max-width: 35%;
}

#explore {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 0 2rem;
}

article {
  position: relative;
	padding: 0 1rem;
  /* transform: translateY(-70vh); */
}

figure {
	position: -webkit-sticky;
	position: sticky;
  /* left: 39%; */
	width: 100%;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	background-color: #8a8a8a;
}

.step {
	/* margin: 0 auto 2rem auto; */
	/* border: 2px solid #fff; */
  background-color: #24272E;
	color: #fff;
}

.step.is-active {
	/* background-color: goldenrod; */
	/* color: #3b3b3b; */
}

.step p {
	text-align: center;
	padding: 1rem;
	font-size: 1.5rem;
}

/*********** narratives ************/

.narrow-left {
  width: 35%;
}

.wide-right {
  width: 70%;
  left: 30%;
  position: relative;
  /* height: 100vh; */
  /* background-color: rgba(0,0,0); */
}

.wide-right-step {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.map-comp {
  height: 100vh;
}

.section-end {
  margin-bottom: 80vh;
}

.full-page {
  width: 100%;
  height: 100vh;
}

figure {
  transition: display 0.5s ease-in-out;
}

article {
  transition: width 0.5s ease-in-out;
}

/************************************/
